In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('merged_sales_data.csv')

In [12]:
df = df.drop("item_price", axis=1)

In [10]:
df.head()

   date_block_num  shop_id  item_id  item_price  item_cnt_day
0               0       59    22154       999.0           1.0
1               0       59     2552         NaN           0.0
2               0       59     2554         NaN           0.0
3               0       59     2555         NaN           0.0
4               0       59     2564         NaN           0.0

In [11]:
result_file_path = 'merged_sales_data_no_item_price.csv'
df.to_csv(result_file_path, index=False)

   date_block_num  shop_id  item_id  item_price  item_cnt_day
0               0       59    22154       999.0           1.0
1               0       59     2552         NaN           0.0
2               0       59     2554         NaN           0.0
3               0       59     2555         NaN           0.0
4               0       59     2564         NaN           0.0