In [9]:
import pandas as pd

In [10]:
df_original = pd.read_csv("rukjop_transformed.csv")
df_original.columns

Index(['Unnamed: 0', 'date_block_num', 'item_id', 'shop_id', 'item_cnt_day'], dtype='object')

In [11]:
df_draft = df_original.copy()

In [12]:
df_draft["date_block_num_lag"] = df_draft["date_block_num"] + 1

In [7]:
features = ["date_block_num","date_block_num_lag","item_cnt_day"]
y = df_draft["item_cnt_day"]
df_new = df_draft[features]

   date_block_num  date_block_num_lag
0               0                   1
1               0                   1
2               0                   1
3               0                   1
4               0                   1

In [13]:
df_draft.head()

,Unnamed: 0,date_block_num,item_id,shop_id,item_cnt_day,date_block_num_lag
0,0,0,19,25,1.0,1
1,1,0,19,1,0.0,1
2,2,0,19,2,0.0,1
3,3,0,19,10,0.0,1
4,4,0,19,19,0.0,1