In [1]:
import pandas as pd

In [2]:
df_original_sales_train = pd.read_csv("sales_train.csv")

In [3]:
df_draft_sales_trian = df_original_sales_train.copy()

In [4]:
df_original_transformed = pd.read_csv("rukjop_transformed.csv")

In [5]:
df_draft_transformed = df_original_transformed.copy()

In [6]:
df_calendar = pd.read_csv('calender.csv')

In [7]:
df_calendar_transformed = df_calendar.copy()

In [8]:
# Convert the 'Date' column to datetime
df_calendar_transformed['date'] = pd.to_datetime(df_calendar_transformed['date'])

# Change the date format to DD.MM.YYYY
df_calendar_transformed['Date_formatted'] = df_calendar_transformed['date'].dt.strftime('%d.%m.%Y')
df_calendar_transformed.to_csv('calendar_formatted.csv')
# Drop the original 'Date' column if not needed
# df_calendar_transformed = df_calendar_transformed.drop('Date', axis=1)

In [9]:
df_calendar_transformed.head()

,date,day_name,day_of_week,day_of_month,week,month_name,month_of_year,month_year_name,month_year_name_sort,quarter,quarter_year_name_sort,year,year_half,red_day_not_sun,black_friday,Date_formatted
0,2013-01-01,Tuesday,1,1,1,January,1,January 2013,201301,1,20131,2013,1,1,0,01.01.2013
1,2013-01-02,Wednesday,2,2,1,January,1,January 2013,201301,1,20131,2013,1,1,0,02.01.2013
2,2013-01-03,Thursday,3,3,1,January,1,January 2013,201301,1,20131,2013,1,1,0,03.01.2013
3,2013-01-04,Friday,4,4,1,January,1,January 2013,201301,1,20131,2013,1,1,0,04.01.2013
4,2013-01-05,Saturday,5,5,1,January,1,January 2013,201301,1,20131,2013,1,0,0,05.01.2013

In [10]:
df_original_sales_train.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [11]:
# Date_formatted on date

df_date = pd.merge(df_draft_sales_trian, df_calendar_transformed, left_on=["date"], right_on=["Date_formatted"], how="left")
df_date = df_date.sort_values("Date_formatted", ascending=False)

In [12]:
df_date.to_csv('sales_train_dates_added.csv')

In [ ]:
df_draft_transformed["date_block_num_lag"] = df_draft_transformed["date_block_num"] + 1

In [ ]:
features = ["date_block_num","date_block_num_lag","item_cnt_day"]
y = df_draft_transformed["item_cnt_day"]
df_new = df_draft_transformed[features]

In [ ]:
df_lag = pd.merge(df_draft_sales_trian, df_draft_transformed, left_on=["date_block_num", "item_id", "shop_id"], right_on=["date_block_num_lag", "item_id", "shop_id"], how="left")
df_lag = df_lag.sort_values("item_cnt_day_x", ascending=False)
df_lag

In [ ]:
# import generate_month as gm


# for i in (df_lag["date_block_num_lag"].tolist()):
#     df_lag["Month_Name"] = gm.int_to_month(i)

In [ ]:
# df_lag['month_column_name'] = df_lag['date_block_num_lag'].apply(gm.int_to_month)

In [ ]:
df_lag.to_csv('date_month_display_number.csv')