In [ ]:
import pandas as pd
from itertools import product

In [ ]:
df_original = pd.read_csv("sales_train.csv")
df_original.columns

In [18]:
df_draft = df_original[["date_block_num", "shop_id", "item_id", "item_cnt_day"]].copy()
df_draft = df_draft.groupby(["date_block_num", "item_id", "shop_id"], as_index=False).sum()
df_result = pd.DataFrame()
for i in range(34):
    df_date_block = df_draft[df_draft["date_block_num"] == i][["date_block_num", "item_id", "shop_id"]]
    df_crossed = pd.DataFrame(list(product([i], df_date_block["item_id"].unique(), df_date_block["shop_id"].unique())),
                               columns=["date_block_num", "item_id", "shop_id"])
    df_result = pd.concat([df_result, df_crossed], ignore_index=True)
df_result = pd.merge(df_result, df_draft, on=["date_block_num", "item_id", "shop_id"], how="left")
df_result["item_cnt_day"].fillna(0, inplace=True)
df_result

          date_block_num  item_id  shop_id  item_cnt_day
0                      0       19       25           1.0
1                      0       19        1           0.0
2                      0       19        2           0.0
3                      0       19       10           0.0
4                      0       19       19           0.0
...                  ...      ...      ...           ...
10913845              33    22167       34           0.0
10913846              33    22167       41           0.0
10913847              33    22167       48           0.0
10913848              33    22167        9           0.0
10913849              33    22167       20           0.0

[10913850 rows x 4 columns]