In [47]:
import pandas as pd

In [48]:
df_original_transformed = pd.read_csv("rukjop_transformed.csv")
df_original_sales_train = pd.read_csv("sales_train.csv")

In [49]:
df_draft_transformed = df_original_transformed.copy()
df_draft_sales_trian = df_original_sales_train.copy()

In [50]:
df_draft_transformed["date_block_num_lag"] = df_draft_transformed["date_block_num"] + 1

In [51]:
features = ["date_block_num","date_block_num_lag","item_cnt_day"]
y = df_draft_transformed["item_cnt_day"]
df_new = df_draft_transformed[features]

In [52]:
df_lag = pd.merge(df_draft_sales_trian, df_draft_transformed, left_on=["date_block_num", "item_id", "shop_id"], right_on=["date_block_num_lag", "item_id", "shop_id"], how="inner")
df_lag = df_lag.sort_values("item_cnt_day_x", ascending=False)
df_lag

,date,date_block_num_x,shop_id,item_id,item_price,item_cnt_day_x,Unnamed: 0,date_block_num_y,item_cnt_day_y,date_block_num_lag
2450309,28.10.2015,33,12,11373,0.908714,2169.0,10567093,32,246.0,33
1925834,15.01.2015,24,12,20949,4.000000,1000.0,8410351,23,500.0,24
2411425,30.09.2015,32,12,9248,1692.526158,669.0,10328134,31,19.0,32
2400147,30.09.2015,32,55,9249,1702.825746,637.0,10328204,31,19.0,32
2196878,19.05.2015,28,12,11373,155.192950,539.0,9430697,27,292.0,28
...,...,...,...,...,...,...,...,...,...,...
2051119,18.02.2015,25,2,16790,2899.000000,-5.0,8663910,24,3.0,25
714155,19.10.2013,9,42,3732,2599.000000,-6.0,3062771,8,432.0,9
1690485,10.10.2014,21,12,9242,1433.333333,-9.0,7275151,20,904.0,21
1504467,10.07.2014,18,14,20949,5.000000,-16.0,6478506,17,88.0,18
813028,02.11.2013,10,12,8023,15.000000,-22.0,3481113,9,0.0,10

In [53]:
import generate_month as gm


# for i in (df_lag["date_block_num_lag"].tolist()):
#     df_lag["Month_Name"] = gm.int_to_month(i)

In [56]:
df_lag['month_column_name'] = df_lag['date_block_num_lag'].apply(gm.int_to_month)

In [ ]:
df_lag.to_csv('date_month_display_number.csv')